.headercomponent .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    padding: 3px 1px;
    font-size: .7rem;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

.headercomponent .dropdown-menu{
  max-height: 50vh;
  overflow: auto;
  font-size: .7rem;
}


.headercomponent .notebook_lbl{
  height: 1.2em;
  box-shadow: 1px 1px 3px #c7c9c9 inset;
  padding: 1rem;
  border: 1px solid #f8f9fa;
  border-radius: 11px;
}